@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply box-border;
  }
  
  body {
    @apply antialiased;
  }
}

@layer utilities {
  .touch-target {
    @apply min-h-[44px] min-w-[44px];
  }
}

